* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: #000;
  color: #fff;
}
.contenedor {
  width: auto;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(../image/fodndonetflix.jpg);
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
 /** position: relative;**/
}

.logo img {
  width: 200px;
  height: 100px;
  cursor: pointer;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

select {
  outline: 0;
  background: transparent;
  opacity: 0.5;
  color: #fff;
  padding: 9px 20px;
  font-size: 12px;
  border: 2px solid #fff;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

#sesion {
  border: 0;
  outline: 0;
  background: #db0001;
  color: #fff;
  padding: 9px 20px;
  font-size: 12px;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}
.principal{
 grid-gap: 95px;
}
.principal main {
 /** margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%; **/
  gap: 100px;
  display: flex;
  position: absolute;
  left: 40px;
  right: 40px;
  top: 300px;
  bottom: 100px;
  text-align: center;
  align-content: center; 
  justify-content: center;
}

h1 {
  font-size: 60px;
}
h3 {
  font-size: 40px;
  margin-top: 4px;
}
p {
  font-size: 15px;
  margin: 8px;
}
.label {
  display: flex;
  border: none;
  margin-left: 20%;
  width: 300px;
  height: 600px;
}

#email {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #fff;
  font-size: 15px;
  margin-top: 10px;
  background: #A9A9A9;
  border: 2px solid red;
  border-radius: 5px;
  opacity: 0.5;
}


.comenzar {
  border: 0;
  outline: 0;
  background: #db0001;
  color: #fff;
  padding: 18px 30px;
  font-size: 25px;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}
